# Ignorar archivos del sistema
.DS_Store
Thumbs.db

# Ignorar carpetas de Windows comunes
Desktop/
Documents/
Downloads/
Music/
Pictures/
Videos/

# Ignorar configuraciones personales
.vscode/
.ssh/
.dotnet/
.eclipse/

# Ignorar AppData y cosas de usuario
AppData/
NTUSER.DAT*
ntuser.dat*